.showroom{
padding:20px;
background:#f3f3f3;
}

/* TITLE */

.title{
color:#ff2b2b;
font-size:28px;
font-weight:800;
}

.subtitle{
color:#777;
margin-top:6px;
margin-bottom:18px;
}

/* FILTER BAR */

.filterBar{
display:flex;
background:#666;
color:white;
border-radius:6px;
margin-bottom:16px;
font-size:14px;
overflow:visible;
}

.filterItem{
flex:1;
text-align:center;
position:relative;
}

.filterBtn{
padding:12px;
cursor:pointer;
user-select:none;
}

.filterItem:not(:last-child){
border-right:1px solid rgba(255,255,255,0.3);
}

/* DROPDOWN */

.dropdown{
position:absolute;
top:45px;
left:0;
width:100%;
background:white;
border-radius:8px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
z-index:50;
overflow:hidden;
animation:drop .2s ease;
}

@keyframes drop{
from{
opacity:0;
transform:translateY(-5px);
}
to{
opacity:1;
transform:translateY(0);
}
}

.dropdownItem{
padding:12px;
font-size:14px;
color:#333;
cursor:pointer;
border-bottom:1px solid #eee;
}

.dropdownItem:last-child{
border-bottom:none;
}

.dropdownItem:hover{
background:#f5f5f5;
}

/* TABS */

.tabs{
display:flex;
gap:20px;
margin-bottom:18px;
font-weight:600;
}

.tabs span{
color:#555;
cursor:pointer;
}

.activeTab{
color:#ff2b2b;
border-bottom:3px solid #ff2b2b;
padding-bottom:6px;
}

/* GRID */

.carsGrid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:16px;
}

/* CARD */

.carCard{
background:white;
border-radius:14px;
overflow:hidden;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
position:relative;
transition:.2s;
}

.carCard:hover{
transform:translateY(-4px);
}

/* IMAGE */

.carCard img{
width:100%;
height:150px;
object-fit:cover;
}

/* BADGE */

.tag{
position:absolute;
top:10px;
left:10px;
color:white;
font-size:12px;
padding:5px 10px;
border-radius:6px;
font-weight:600;
}

.sale{
background:#ff2b2b;
}

.rent{
background:#ffc107;
color:black;
}

/* BODY */

.cardBody{
padding:12px;
}

.cardBody h3{
margin:0;
font-size:17px;
}

.desc{
color:#999;
font-size:12px;
margin:4px 0 10px;
}

/* SPECS */

.specs{
display:flex;
justify-content:space-between;
margin-bottom:10px;
font-size:13px;
}

.fuel{
color:#f4a300;
}

.gear{
background:#f1f1f1;
padding:2px 6px;
border-radius:4px;
}

/* BOTTOM */

.bottomRow{
display:flex;
justify-content:space-between;
align-items:center;
}

.price{
color:#ff2b2b;
font-weight:700;
font-size:15px;
}

.detail{
font-size:12px;
color:#888;
cursor:pointer;
}

.detail:hover{
color:#000;
}